*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  color: black;
  padding-bottom: 2rem;
  align-content: center;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.input-form {
  --input_height: 60px;
  --input_color: #f73378;

  display: flex;
  flex-direction: column;
  position: relative;
}

.input-field {
  height: var(--input_height);
  width: 100%;
  padding-top: calc(var(--input_height) - 20px);
  padding-bottom: 1rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgb(138, 138, 138);
  z-index: 3;
}

input-label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.label-name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(calc(var(--input_height) - 20px));
  transition: transform 200ms ease-in-out;
}

.input-label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border: 1px solid var(--input_color);
}

.input-field:focus,
.input-field:not(:placeholder-shown) {
  border-bottom: unset;
}

.input-field:focus ~ .input-label::after,
.input-field:not(:placeholder-shown) ~ .input-label::after {
  width: 100%;
  transition: 200ms;
}

.input-field:focus ~ .input-label .label-name,
.input-field:not(:placeholder-shown) ~ .input-label .label-name {
  color: var(--input_color);
  font-size: 0.75rem;
  transform: translateY(0px);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  padding: 0 1em;
}

.button {
  width: 140px;
  height: 45px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: cadetblue;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
